.side_main
  .side_main__header
    .user_box 
      .user_box__name
        =current_user.name 
      .user_box__icon
        .user_box__icon--edit
          = link_to new_group_path,style: "color:white" do
            =icon('fas','edit')
        .user_box__icon--config    
          = link_to edit_user_path(current_user), style: "color:white" do
            =icon('fas','cog')  

  .side_main__groups
    - current_user.groups.each do |group|
      .side_main__groups--group_box
        = link_to '#' do
          .group_name 
            = group.name 
          .group_message 
            メッセージはまだありません

